@tailwind base;
@tailwind components;
@tailwind utilities;

/* .carousel-container button {
  background-color: black !important;
}

.carousel-container .react-multiple-carousel__arrow {
  top: -30px !important;
  z-index: 100;
}
.carousel-container .react-multiple-carousel__arrow--left {
  right: 0;
} */
